@use "base/mixins" as m;
@use "base/variables" as v;

.barra {
    background-color: v.$azul;
    padding: 2rem 0;
    @include m.desktop {
        padding: 0
    }


    &__contenido {
        @include m.contenedor;
        display: flex;
        flex-direction: column;
        @include m.desktop {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo {
        @include m.logo;
        @include m.texto-fluido(2rem, 3rem);
    }
}